[gcode_macro START_PRINT]
gcode:
    # 1. Get Params from Slicer (with defaults so it doesn't crash)
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    
    # 2. Start heating Bed (don't wait yet) to save time
    M140 S{BED_TEMP}

    # 4. Wait for Bed Temp (We wait here so the heat soaks in before meshing)
    M190 S{BED_TEMP}

    # 3. Home all axes
    G90             ; Absolute positioning
    G28             ; Home

    
    
    # 5. Run Bed Mesh (Adaptive is best if you have Klipper configured for it)
    #    If you don't use adaptive, just change this line to BED_MESH_CALIBRATE
    #BED_MESH_CLEAR
    #BED_MESH_CALIBRATE ADAPTIVE=1 

    # 6. Heat Nozzle to Print Temp
    #    We do this LAST to prevent oozing during the bed mesh
    G1 X117.5 Y117.5 Z10 F3000          ; Move to a safe waiting position
    M109 S{EXTRUDER_TEMP}       ; Wait for nozzle to hit target temp
    
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M104 S0
    M140 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    ##could make move out of bonds
    G1 E-3 Z10 F3000    ; Retract filament 3mm and raise nozzle 10mm
                        # (Raising 10mm is safer than going to Z-max on CoreXZ)
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    G1 X 117.5 Y 235
    
    # Disable steppers
    M84
